<?xml version="1.0"?>

<launch>

  <node name="image_view" pkg="image_view" type="image_view" output="screen" >
    <remap from="image" to="/mybot/camera1/image_raw" />
  </node> 

  <include file="$(find mybot_gazebo)/launch/world_detour.launch" />

  <include file="$(find interfaces)/launch/only_key.launch" />

  <node name="record" pkg="rosbag" type="record" args=" /cmd_vel /gaze_to_camera /gazebo/link_states  -o $(find interfaces)/../../bags/detour_only_key" output="screen"/>

</launch>